/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
@import url("forms.css");

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Open Sans' sans-serif 1.6;
}
body{
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background-color:  #fafafa;
    font-size: 1.6rem;
    font-family: sans-serif;
}
h1,h2, h3, h4, h5, h6, p,
ol, ul, figure, div{
    margin: 0;
    padding: 1rem;
    list-style: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}

button {
  background: transparent;
  border: 0;
  font-size: inherit;
  cursor: pointer;
}
/* Theme*
/* Styles pour la barre de navigation */
.navbar {
    position: fixed; /* Position fixée */
    width: 100%;
    height: 10vh; /* Hauteur de 10 vh */
    display: inline-block;
    justify-content: space-between;
    background-color:#fafafa; /* Couleur de fond blanche */
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.1); 
}
nav a img {
    display: inline-block;
    max-height: 6vh;
    max-width: 6vh;
}

.navbar  {
  display: block;
}
/* style pour ma navbar */

.navbar ul li:nth-child(4){
    background-color: #d5473b;
    padding: 5rem 1.5rem 5rem 1.5rem;
    color: #fafafa;
    right: 0rem;
}
.navbar ul li:nth-child(4) a{
    color: #fafafa;

}
.navbar ul li a, .navbar button {
    color: rgb(57, 53, 53); 
    text-decoration: none;
}
.navbar ul li a img{
    width: 6vh;
    height: 6vh;
    z-index: -1;

}


#create_button a{
    color: #fff;
    background-color: #d5473b;
  
}
#create_button {
    display: block;
    border-radius: .4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;



}
#arrow {
    background-color: #d5473b;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 2.5rem;
}

.navbar-left img {
    margin-right: 1rem; 
}
/* Styles pour la section "home_page" */
#home_page {
    background :url(../asset/home-hero.jpg) center center/ cover fixed;
    height: 100vh; /* Hauteur de 100 vh pour prendre toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2vh; /* Espace intérieur de 20px à gauche et à droite */
}
    
/*styple pour la secion de connexion */
#connexion{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2vh;
    width: 100%;
}
#create > h2{
    max-width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    font-size: 2.6rem;
    line-height: 2.6rem;
    color: rgb(57, 53, 53); 

}

#create > p{
    margin-top: 15rem;
    margin: auto;
    text-align: center ;
    max-width: 35%;
    font-size: 1.2rem;
    color: rgb(57, 53, 53); 

    
}
#connexion > h2 {
    max-width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    font-size: 2.6rem;
    line-height: 2.6rem;
    color: rgb(57, 53, 53); 
}
/* Styles pour le bouton "Create" */
#home_page > #create_button {
    background-color: #d5473b; 
    color: white; 
   /* height: 10vh;
    width: 40vh;*/
    font-size: 2rem; 
    border: none; 
    cursor: pointer;
    margin-left:6% ;
}

/* Styles pour le texte au-dessus du bouton */
#home_page p {
    font-size: 3.6rem; /* Taille de police plus grande */
    color: white; /* Texte en blanc */
    margin-bottom: 2vh; /* Marge en bas pour séparer du bouton */
    margin-right: 55%;
    margin-left: 5%;
    line-height: 5rem;
}




