/* Reset */
html{
    font-size: 62.5%;
    background :url(../asset/home-hero.jpg)center center/ cover fixed;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem Open-Sans sans-serif;
    margin: 0;
    line-height: 1.6rem;
    letter-spacing: .1rem;
    background-color:  #fafafa;
}
h1,h2, h3, h4, h5, h6, p,
ol, ul, figure, div{
    margin: auto;
    padding: 1rem;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}

button {
  background: transparent;
  border: 0;
  font-size: inherit;
  cursor: pointer;
}
/* Theme */ 
@import url("/CSS/forms.css");

#home_page {
    background: url(../asset/home-hero.jpg) center center/ cover fixed;
    height: 100vh;
}


#create_button{
    background-color: rgb(190, 82, 92);
    color: #f1f9f9c5;
    margin-right: 70%;
    margin-left: 10%;

}
#home_page p {
    margin-left: 10%;
    margin-right: 20%;
    color: #f1f9f9c5;
    font-size: xx-large bold;
}
#create_button p {
    color: #f1f9f9c5;
}
head > #mail {
font-size: 5.6rem;}

#create {
    height: 100vh;
}

#connexion{
    height: 100vh;

}
.navbar {
    position: fixed;
    background-color: #fafafa;
    width: 100%;
    height: 10vh;
    
}

.navbar > .navbar_left > a > img {
width: 1vh;
height: 1vh;
}