/* Reset */

@import url("forms.css");

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem Open-Sans sans-serif;
    margin: 0;
    line-height: 1.6rem;
    letter-spacing: .1rem;
    background-color:  #fafafa;
}
h1,h2, h3, h4, h5, h6, p,
ol, ul, figure, div{
    margin: 0;
    padding: 1rem;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}

button {
  background: transparent;
  border: 0;
  font-size: inherit;
  cursor: pointer;
}
/* Theme*
/* Styles pour la barre de navigation */
.navbar {
    position: fixed; /* Position fixée */
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh; /* Hauteur de 10 vh */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* Couleur de fond blanche */
   /* padding:; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    margin: 0; 
}

.navbar a, .navbar button {
    color: black; 
    text-decoration: none;
}

.navbar button {
    background-color: white; /* Fond blanc pour tous les boutons */
    margin-left: auto; 
}

#createButton {
    background-color: #FF0000; /* Couleur de fond rouge pour le bouton Créer un compte */
}


*/
.navbar-left img {
    margin-right: 10px; 
}
/* Styles pour la section "home_page" */
#home_page {
    background :url(../asset/home-hero.jpg) center center/ cover fixed;
    height: 100vh; /* Hauteur de 100 vh pour prendre toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px; /* Espace intérieur de 20px à gauche et à droite */
}
    
/*styple pour la secion de connexion */
#connexion{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    width: 100%;
}
h2{
    text-align: center;
}
/* Styles pour le bouton "Create" */
#home_page > #create_button {
    background-color: #d5473b; 
    color: white; 
   /* height: 10vh;
    width: 40vh;*/
    font-size: 2rem; 
    border: none; 
    cursor: pointer;
    margin-left:6% ;
}

/* Styles pour le texte au-dessus du bouton */
#home_page p {
    font-size: 4rem; /* Taille de police plus grande */
    color: white; /* Texte en blanc */
    margin-bottom: 20px; /* Marge en bas pour séparer du bouton */
    margin-right: 45%;
    margin-left: 5%;
    line-height: 5rem;
}
button[onclick*='#create'] {
    background-color:#d5473b;
    padding: 2rem;
    margin: 0;
}
button[onclick*='#connexion']:hover {
    background-color:#d5473b;
    padding: 2rem;
    margin: 0;
}
button[onclick*='#pros']:hover {
    background-color:#d5473b;
    padding: 2rem;
    margin: 0;
}
button :hover{
    background-color: #d5473b;
}
.connexion {

}
