/* Styles pour la barre de navigation */
#barre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1rem 1rem gray;
    position: fixed;
    background-color: #fff;
    width: 100%;
    color: #000000; 
    height: 10vh;

}

#logo_g {
    color: #000000; 
}

#barre-navigation {
    display: flex;
    justify-content: flex-end; /* Aligner les éléments à droite de la barre de navigation */
}


.navbar li {
    display: inline-block;
    margin-left: 1.5rem; /* Espacement entre les éléments de la barre de navigation */
}

#btn_creation {
    background-color: #d5473b; /* Couleur de fond rouge pour le lien "Créer un compte" */
    color: #ffffff; 
    padding: 2rem; 
    border-radius: 5px; 
}

#barre a img {
    display: inline-block;
    max-height: 7vh;
    max-width: 7vh;
    padding-right: .5rem;
}
/*
#logo_g  {
    position: fixed;
    left: .1rem;
    width: 10%;
    text-align: left;
 }



#btn_creation {
    background-color: #d5473b;
    color: #fff;
    padding: 2rem;
}*/

/* style pour ma navbar */

#create_button {
    display: block;
    border-radius: .4rem;
    padding: 2rem;
    
}
#arrow {
    background-color: #d5473b;
    position: fixed;
    right: 2rem;
    bottom: 2.5rem;
    border-radius: 2.7rem ;
}

/* Styles pour la section "home_page" */

#home_page {
    background :url(../asset/home-hero.jpg) center center/ cover fixed;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2vh; /* Espace intérieur de 20px à gauche et à droite */
}
    
/*styple pour la secion de connexion */
#connexion{
    max-height: 91vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
#create > h2{
    max-width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    font-size: 2.6rem;
    line-height: 2.6rem;
    color: rgb(57, 53, 53); 
}

#create > p{
    margin-top: 15rem;
    margin: auto;
    text-align: center ;
    max-width: 35%;
    font-size: 1.2rem;
    color: rgb(57, 53, 53); 
}
#connexion > h2 {
    max-width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    font-size: 2.6rem;
    line-height: 2.6rem;
    color: rgb(57, 53, 53); 
}
/* Styles pour le bouton "Create" */
#home_page > #create_button {
    background-color: #d5473b; 
    color: white; 
   /* height: 10vh;
    width: 40vh;*/
    font-size: 2rem; 
    border: none; 
    cursor: pointer;
    margin-left:6% ;
}

/* Styles pour le texte au-dessus du bouton */

#home_page p {
    font-size: 3.6rem; /* Taille de police plus grande */
    color: white; /* Texte en blanc */
    margin-bottom: 2vh; /* Marge en bas pour séparer du bouton */
    margin-right: 55%;
    margin-left: 5%;
    line-height: 5rem;
}
li > a:focus {
    background-color: #d5473b;
    color: #fff;
    padding: 2rem;
}


